<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">INICIO</a>
        <a href="{{ url_for('actividades') }}">ACTIVIDADES</a>
        <a href="{{ url_for('progreso') }}">PROGRESO</a>
        <a href="{{ url_for('configuracion') }}">CONFIGURACIÓN</a>
    </div>
    <div class="container">
        <div class="section center">
            <h2>Actividades</h2>
            <ul class="options-list">
                <li><a href="{{ url_for('quiz') }}"><i class="fas fa-question-circle"></i> Realiza un Quiz</a></li>
                <li><a href="{{ url_for('juego') }}"><i class="fas fa-gamepad"></i> Juega un Juego</a></li>
                <li><a href="{{ url_for('manualidades') }}"><i class="fas fa-paint-brush"></i> Manualidades</a></li>
                <li><a href="{{ url_for('experimentos') }}"><i class="fas fa-flask"></i> Experimentos</a></li>
                <li><a href="{{ url_for('historias') }}"><i class="fas fa-book"></i> Historias</a></li>
            </ul>
            <div class="image-container small-margin">
                <img src="{{ url_for('static', filename='images/mascota-tortuga.png') }}" alt="Mascota Tortuga">
            </div>
            <a href="{{ url_for('index') }}" class="back-link">Volver al Menú Principal</a>
        </div>
    </div>
</body>
</html>
